<h1>Your Daily Video</h1>

<%= @youtube %>

 <a href="www.googleapis.com/youtube/v3/videos?id=7lCDEYXw3mM&key=AIzaSyBrm7vLw9aZy1XS_MDQ8HlEBsOaXWMdREs&part=snippet,contentDetails,statistics,status">Watch</a>


<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom' xmlns:gd='http://schemas.google.com/g/2005' xmlns:yt='http://gdata.youtube.com/schemas/2007' xmlns:media='http://search.yahoo.com/mrss/' xmlns:georss='http://www.georss.org/georss' xmlns:gml='http://www.opengis.net/gml'/>