<div class="band navigation">
  <div class="row">
    <div class="col span_3 button button-primary button-selected">
      <p><%= link_to "Workouts", user_workouts_path(@user) %></p>
    </div>
    <div class="col span_3 button button-primary">
      <p><%= link_to "Articles", articles_path %></p>
    </div>
    <div class="col span_3 button button-primary">
      <p><%= link_to "Exercises", exercises_path %></p>
    </div>
    <div class="col span_3 button button-primary">
      <p><%= link_to "Motivation"%></p>
    </div>
  </div>
</div>