<h1>All Made Workouts</h1>

<p><% @user_workouts.each do |item| %>
	<div>Title: <%= item.title %></div>
	<% if item.description != nil %>
		<div>Description: <%= item.description %></div>
	<% else %>
    <div>></div>
	<% end %>
	<%= link_to "Show", user_workout_path(@user, item) %> |
	<%= link_to "Update", edit_user_workout_path(@user, item) %>
<% end %>
</p>
</br>